*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    color: white;
}
header{
    background-color: #1f2937;
}
.section-one{
    width: 70%;
    margin: 0 auto;
}
.navigation ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 60%;
    align-items: center;
    padding: .8rem;
    margin-bottom: 4rem;
}
a{
    text-decoration: none;
    color: white;
}
.left-link{
    font-weight: bold;
    font-size: 24px;
    margin-left: 1rem;
    color: #F9FAF8;
}
.right-link{
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
}
a:hover{
    transition: 1s;
    color: greenyellow;
}
.placeholder{
    width: 600px;
    height: 200px;
    overflow: hidden;
}
.placeholder img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.headfoot{
    display: flex;
    gap: 4rem;
    padding-bottom: 4rem;
}
.left-foot{
    width: 50%;
    padding: .5rem;
    font-size: 18px;

}
.left-foot button{
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 20px;
    padding: 10px 25px;
    border: 0px;
    font-weight: 700;
}
.left-foot h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 1rem;
}
.main-one{
    background-color: white;
    color: black;
    width: 70%;
    margin: 0 auto;
}
.image-detail div img{
    height: 200px;
    border-radius: 10%;
}
.image-container{
    display: flex;
    width: 75%;
    gap: 5%;
    margin-bottom: 5rem;

}
.information{
    margin: 3rem auto;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}
.image-detail{
    width: 200px;
    overflow: hidden;
}
.image-detail img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.quote-container{
    background-color: #e5e7eb;
    color: black;
    height: 40vh;
    display: flex;
    align-items: center;
}
.quote .text{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin: 10px 5rem 0;
}
.quote{
    width: 70%;
}
.writer{
    text-align: end;
    font-size: 30px;
    font-weight: bold;
}
.sign-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}
.sign{
    background-color: #3882F6;
    width: 65%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-sign h3{
    font-size: 24px;
    font-weight: bold;
}
.right-sign button{
    font-size: 20px;
    padding: 10px 30px;
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 10px;

}
footer{
    background-color: #1F2937;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}