*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    color: white;
}
header{
    background-color: #1f2937;
    height: 42vh;
    min-height: max-content;
    min-width: max-content;
}
.section-one{
    width: 70%;
    margin: 0 auto;
}
.navigation ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 60%;
    align-items: center;
    padding: .5rem;
    margin-bottom: 4rem;
}
a{
    text-decoration: none;
    color: white;
}
.left-link{
    font-weight: bold;
    font-size: 24px;
    margin-left: 1rem;
    color: #F9FAF8;
}
.right-link{
    display: flex;
    flex: 1;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
}
a:hover{
    transition: 1s;
    color: greenyellow;
}
.placeholder{
    width: 50%;
    height: auto;
}
.headfoot{
    display: flex;
    gap: 4rem;
}
.left-foot{
    width: 50%;
    padding: .5rem;
    font-size: 18px;

}
.left-foot button{
    background-color: #3882F6;
    border-radius: 10%;
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 20px;
    padding: 10px 15px;
}
.left-foot h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 1rem;
}
.main-one{
    background-color: white;
    color: black;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.image-detail div img{
    height: 200px;
}
.image-container{
    display: flex;
}
.information{
    margin: 3rem auto;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}